table{
    width: 50%;
    height: 500px;
    border: solid 1px black;
    margin: auto;
    
    }
    td,tr{
    border: solid 1px black;
    }
    .class1{
    height: 50px;
    background-color: rgb(180, 153, 157);
    }
    .class2{
    background-color: rgb(156, 145, 145);
    }
    .class3{
    background-color: rgb(56, 100, 102);
    }